<div class="card">
  <div class="card-body" >
    <h3>Consulta de Cursos</h3>
    <select (ngModelChange)="getData($event)" class="form-control" name="selectAction"
    [(ngModel)]="modalidadSelected">
           <option *ngFor="let op of modalidad" [value]="op | json">
             {{op.nombre}}
           </option>
     </select>

     <table class="table table-striped" *ngIf="dataTable">
      <thead>
      <tr>
        <th scope="col">nombre</th>
        <th scope="col">costo</th>
        <th scope="col">horas</th>
        <th scope="col">dirigido</th>
      </tr>
      </thead>
      <tbody>
       <tr *ngFor="let data of dataTable; index as i">
        <td>{{ data.nombre   }}</td>
        <td>{{ data.costo  }}</td>
        <td>{{ data.horas }}</td>
        <td>{{ data.dirigido }}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <a  (click)="triggerModal()" class="btn-flotante">Crear</a>
</div>


<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Guardar Curso</h4>
  </div>
  <div class="modal-body">
  <input  class="form-control mb-4" placeholder="Nombre">
  <input  class="form-control mb-4" placeholder="Costo">
  <input  class="form-control mb-4" placeholder="Descripcion">
  <input  class="form-control mb-4" placeholder="Horas">
  <input  class="form-control mb-4" placeholder="dirigido">
  <select  (ngModelChange)="getData($event)" class="form-control mb-4" placeholder="Modalidad"  name="selectAction"
  [(ngModel)]="modalidadSelectedGuardar">
         <option *ngFor="let op of modalidad" [value]="op | json">
           {{op.nombre}}
         </option>
   </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Guardar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
